body {
    margin: 0;
    background: #544a7d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd452, #544a7d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd452, #544a7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button:hover {
    cursor: pointer;
}

/* header styling */
header {
    display: flex;
    justify-content: center;
}

header h1{
    color: black;
    margin-left: 10px;
}

/* login-button */
header button {
    margin-top: 10px;
    margin-right: 10px;
    max-height: 50px;
    padding: 5px;
    margin-left: auto;
}


/* login-modal */
#login-modal {
    background-color: black;
    position: absolute;
   top: 50%;
   left: 50%;
    margin: auto;
    color: whitesmoke;
}



/* adding new story */
.add-story-container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.add-story-container button {
    background-color: #99627A;
    color: whitesmoke;
    font-size: 26px;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .2s ease-in-out;
}

.add-story-container button:hover {
    box-shadow: inset 300px 0 0 0 #54b3d6;
  color: white;
}

#add-Story-Modal {
    background-color: black;
    position: absolute;
   top: 50%;
   left: 50%;
    margin: auto;
    color: whitesmoke;
}


/* main story card content section */

.card-container {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    border: solid;
    
}

.story-card{
    border: solid yellow 2px;
    background-color: whitesmoke;
    border-radius: 10px;
}











/* utility */
.hidden {
    display: none;
}